body {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #1d1d1d;
  background-color: #e9ebee;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  width: auto;
  background-color: #ff5439;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 2px;
}

.header img {
  width: 305px;
}

.bannerSmall {
  background-color: white;
}

.bannerSmall img {
  width: 100px;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 85, 46, 0.842) 0px 10px, rgba(204, 103, 21, 0.752) 0px 15px, rgba(234, 161, 27, 0.1) 0px 20px, rgba(253, 70, 38, 0.05) 0px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 85, 46, 0.842) 0px 10px, rgba(204, 103, 21, 0.752) 0px 15px, rgba(234, 161, 27, 0.1) 0px 20px, rgba(253, 70, 38, 0.05) 0px 25px;
  margin-bottom: 40px;
  color: #d6694e;
  background-color: white;
}

.bannerSmall img:hover {
  cursor: pointer;
}

button.logOut {
  background-color: transparent;
  outline: none;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
}

.NewPost_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NewPost_container form {
  width: 80%;
}

.NewPost_container textarea, .NewPost_container button {
  width: 100%;
}

.NewPost_container textarea {
  height: 100px;
  position: relative;
  font-family: 'Lato';
}

hr {
  margin: 30px;
}

.SignIn_container, .SignUp_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SignIn_container h2, .SignUp_container h2 {
  color: rgba(38, 38, 38, 0.713);
}

.SignIn_container label, .SignUp_container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SignIn_container form, .SignUp_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.SignIn_container form input, .SignUp_container form input {
  outline: none;
  border: 0;
  border-bottom: #1d1d1d 1px solid;
}

.SignIn_container form button, .SignUp_container form button {
  background-color: #ff5439;
  color: whitesmoke;
  height: 30px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.SignIn_container form *, .SignUp_container form * {
  margin: 5px 0;
}

.NewPost_container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.NewPost_container .file-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.NewPost_container button {
  width: auto;
  background-color: #ff5439;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
}

.feed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authorName-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 80px;
}

.authorName {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
  color: #ff5439;
  text-decoration: none;
  margin-bottom: 2px;
  border: none;
}

.authorName:hover {
  text-decoration: underline;
}

.dayJs {
  color: #cccccc;
  font-size: x-small;
}

.postcard {
  background-color: white;
  width: 80%;
  border: 1px solid #d0d1d5;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
  padding: 12px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.postcard .main-up-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postcard img {
  max-width: 80%;
}

.postcard .up-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.postcard .up-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.postcard .up-container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.postcard .up-container .form-container form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postcard .txt-container {
  background-color: white;
  width: 90%;
  border-radius: 5px;
  margin: 10px 0px;
  text-align: left;
  padding-left: 5px;
}

.postcard .com-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.postcard .com-container textarea {
  height: 50px;
  font-family: 'Lato';
  width: 100%;
}

.postcard .com-container * {
  margin-right: 5px;
  margin-top: 5px;
}

.postcard .commentsSection {
  width: 100%;
  margin-bottom: 10px;
}

.postcard .com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postcard .com .newcom-container {
  width: 100%;
}

.postcard .com form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.postcard .com form input {
  width: 100%;
}

.postcard .com .commentText {
  width: 100%;
  border: solid grey 1px;
  margin-left: 10px;
  text-align: left;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* max-width: 450px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.profile-container input {
  outline: none;
  border: 0;
  border-bottom: #1d1d1d 1px solid;
  padding: 5px;
  width: 80%;
}
/*# sourceMappingURL=App.css.map */